<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pknu26.miniright.mapper.UserMapper">

    <!-- 로그인 ID로 회원 조회 -->
    <select id="findByLoginId" parameterType="string" resultType="User">
        SELECT USER_ID,
               LOGIN_ID,
               PASSWORD,
               NAME,
               ROLE,
               CREATED_AT,
               UPDATED_AT
        FROM USERS
        WHERE LOGIN_ID = #{loginId}
    </select>

    <!-- 회원 등록 -->
    <insert id="insertUser" parameterType="User">
        INSERT INTO USERS (
            USER_ID, 
            LOGIN_ID, 
            PASSWORD, 
            NAME, 
            ROLE,
            CREATED_AT
        ) VALUES (
            SEQ_USERS_ID.NEXTVAL,
            #{loginId}, 
            #{password,jdbcType=VARCHAR},
            #{name}, 
            #{role}, 
            SYSDATE
        )
    </insert>

    <!-- 시퀀스 조회 -->
    <select id="nextUserId" resultType="long">
        SELECT USERS_SEQ.NEXTVAL FROM DUAL
    </select>

</mapper>
