<!DOCTYPE html>
<html 
  lang="ko" 
  xmlns:th="http://www.thymeleaf.org" 
  th:replace="~{layout :: layout(~{::content}, ~{::pageScripts})}"
>
<div th:fragment="content" class="container my-4">
  
  <div th:if="${bboard != null}">
    <h3>게시판 상세</h3>

    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th colspan="2" class="text-center" th:text="${bboard.title}">제목</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th style="width: 15%;">번호</th>
          <td th:text="${bboard.postId}"></td>
        </tr>
        <tr>
          <th>카테고리</th>
          <td th:text="${bboard.categoryId} + ' [' + ${bboard.categoryId} + ']'"></td>
        </tr>
        <tr>
          <th>작성일</th>
          <td th:text="${#temporals.format(bboard.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        <tr>
          <th>수정일</th>
          <td th:text="${bboard.updatedAt != null ? #temporals.format(bboard.updatedAt, 'yyyy-MM-dd HH:mm') : '-'}"></td>
        </tr>
        <tr>
          <th>내용</th>
          <td th:utext="${bboard.contents}"></td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col">
        <div class="text-end">
          <span>
            <span>
            <a
              th:if="${canEdit}"
              th:href="@{|/board/edit/${board.boardId}|}"
              class="btn btn-sm btn-warning"
            >

            <form th:if="${canDelete}"
                  id="deleteForm"
                  th:action="@{|/bboard/delete/${bboard.postId}|}"
                  method="post"
                  style="display: inline"
                  onsubmit="return confirm('정말 삭제하시겠습니까?');">
              <button
                type="button"
                class="btn btn-sm btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
              >
                <i class="bi bi-trash-fill"></i> 삭제
              </button>
            </form>
          </span>

          <a th:href="@{/bboard/list}" class="btn btn-sm btn-success">
            <i class="bi bi-list-ul"></i> 목록
          </a>
        </div>
      </div>
    </div>
  </div> 
</div>
<script th:fragment="pageScripts"></script>
</html>