<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content}, ~{})}">
<div th:fragment="content" class="container my-4">
    
    <div th:if="${bBoardList != null}">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h3>거래게시판</h3>
            <p class="text-muted mb-0">총 
              <span class="fw-bold text-primary" th:if="${bBoardList.totalCount >= 0}" th:text="${bBoardList.totalCount}">0</span>개의 상품이 있습니다. 
            </p>
            <a th:href="@{/bboard/create}" class="btn btn-primary shadow-sm">
                <i class="bi bi-plus-lg"></i> 내 물건 등록
            </a>
        </div>

        <div class="row">
          <div class="col">
            <table class="table">
              <thead class="table-dark">
                <tr>
                  <th class="text-center">순번</th>
                  <th class="text-center">제목</th>
                  <th class="text-center">작성일자</th>
                </tr>
              </thead>
              <tbody>
                <tr th:if="${#lists.isEmpty(bBoardList.dtoList)}">
                  <td colspan="3" class="text-center">게시글이 없습니다</td>
                </tr>

                <tr th:each="board : ${bBoardList.dtoList}">
                  <td class="text-center" th:text="${board.postId}"></td>
                  <td>
                    <a th:href="@{|/bboard/detail/${board.postId}|}" th:text="${board.title}"></a>
                  </td>
                  <td class="text-center">
                      <span th:text="${board.createdAt != null ? #temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm') : '-'}"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <nav th:if="${bBoardList.totalCount > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!bBoardList.prev} ? 'disabled'">
                    <a class="page-link" th:href="@{/bboard/list(page=${bBoardList.startPage - 1})}">이전</a>
                </li>
                <li class="page-item"
                    th:if="${bBoardList.startPage <= bBoardList.endPage}"
                    th:each="pageNum : ${#numbers.sequence(bBoardList.startPage, bBoardList.endPage)}"
                    th:classappend="${pageNum == bBoardList.currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/bboard/list(page=${pageNum})}" th:text="${pageNum}">1</a>
                </li>
                <li class="page-item" th:classappend="${!bBoardList.next} ? 'disabled'">
                    <a class="page-link" th:href="@{/bboard/list(page=${bBoardList.endPage + 1})}">다음</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</html>